* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}


.header {
    padding: 1% 3%;
    width: 60%;
    background-color: #fcfcfc;
}

.header p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}
.empty {
    width: 20%;
    background-color: #dcdce5;
}

.mainempty {
    background-color: #a10000;
}

.blocktwo {
    text-align: right;
}

.vidstup {
    width: 35.4%;
}

.picture {
    width: 60%;
}

.picture img  {
    height: 100%;
    width: 100%;
}

.mainsvg img {
    display: inline-block;
}

.infor {
    background-color: aqua;
}
.footerempty {
     width: 20%;
    background-color: #3737ff;
}