* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}


.thead {
    background-color: #fff;
}

.wraper {
    padding: 0px 20%;
}

th , td {
     margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    align-items: center;
}

tbody {
    align-items: center;
}
tr {
    display: inline-block;

    align-items: center;
}

.main td   {
    display: block;
    width: 100%;
}

.mainfooter td {
    text-align: center;
}

.mainfooter a {
    text-align: center;
}
.headtext td {
    align-items: end;
}

.byd {
      padding-left: 40%;
      text-align: center;
}

.contanct{
    display: inline-block;
    align-items: center;
}